body, html{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #333333;
    -webkit-text-size-adjust: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

header{
    background: url(../img/header-bg.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position-y: -100px;
    background-position: center;
    height: 700px;
}

header .shadow div {
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 260px;
    width: 522px;
    float: left;
}


header .shadow div h1{
    font-size: 44px;
    line-height: 32px;
    color: #fff;
    font-weight: bold;
    float: left;
    margin-bottom: 60px;
}

header .shadow div h1:after{
      content: "";
    border-bottom: 4px solid #5C6BC0;
    position: absolute;
    z-index: 2;
    bottom: 194px;
    width: 141px;
    left: -1px;
}

header .shadow div p{
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    float: left;
    margin: 0px;
    margin-top: 10px;
}

header .shadow div p span{
    color: #5C6BC0;
}

header .shadow div a{
    margin-top: 30px;
    display: block;
    background-color: rgb(63, 85, 181);
    height: 38px;
    padding: 0 36px;
    border-radius: 8px;
    font-size: 20px;
    line-height: 28px;
    outline: none;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    padding-top: 10px;
    float: left;
}

.blink{
    animation: fader 2s infinite;
}

 @keyframes fader {
    0% {
       background-color: rgb(63, 85, 181);
    }
    50% {
        background-color: #5C6BC0;
    }
    100% {
       background-color: rgb(63, 85, 181);
    }
}


.shadow{
    background-color: rgba(33, 33, 33, 0.83);
    width: 100%;
    height: inherit;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    display: block;
    padding: 120px;
    padding-top: 100px;
    padding-bottom: 60px;
    height: auto;
}

.container h2{
    text-align: center;
    color: rgba(51, 51, 51, 0.9);
    font-size: 30px;
    line-height: 40px;
    font-weight: bold;
}

section{
    min-height: 900px;
    background-color: #f0f0f0;
}

nav{
    position: fixed;
    z-index: 99;
    background-color: #fff;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 24px 4px rgba(128, 128, 128, 0.5);
}

nav span{
    padding-right: 40px;
    font-size: 48px;
    color: rgba(63, 83, 181, 0.8);
}

nav svg{
    margin-bottom: -10px;
}

nav ul{
    width: fit-content;
    width: -moz-fit-content;
    margin: 0 auto;
    padding-left: 0px;
}

nav ul li{
    display: inline;
    text-align: center;
}

nav ul a{
    text-transform: uppercase;
    font-size: 16px;
    line-height: 78px;
    color: rgba(51, 51, 51, 0.9);
    font-weight: 500;
    text-decoration: none;
    outline: none;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    transition: .3s ease;
    border-bottom: 0px solid white;
}

nav ul a:not(:first-child):hover{
    color: rgba(63, 83, 181, 0.8);
    border-bottom: 4px solid rgba(63, 83, 181, 0.8);
    transition: .3s ease;
}

.slider{
    width: 800px;
    margin: 0 auto;
}

.slick-list{
    border-radius: 50px;
}

.fa-arrow-alt-circle-left{
    display: block;
    position: absolute;
    left: -90px;
    display: block;
    bottom: 0;
    margin-bottom: auto;
    top: 0;
    margin-top: auto;
    height: 30px;
    font-size: 30px;
    transform: scale(1.5);
    cursor: pointer;
    color: rgba(63, 83, 181, 0.8);
}

.fa-arrow-alt-circle-right{
    display: block;
    position: absolute;
    right: -90px;
    display: block;
    bottom: 0;
    margin-bottom: auto;
    top: 0;
    margin-top: auto;
    height: 30px;
    font-size: 30px;
    transform: scale(1.5);
    cursor: pointer;
    color: rgba(63, 83, 181, 0.8);
}

footer{
    background-color: #5C6BC0;
    text-align: center;
    position: absolute;
    z-index: 2;
    overflow: hidden;
    transition: 1s;
    width: 100%;
}

footer:hover{
    cursor: pointer;
}

footer span{
    line-height: 48px;
    font-weight: 500;
    color: #f0f0f0;
    letter-spacing: .7px;
    font-size: 20px;
}

footer span:not(:first-child){
    display: inline-block;
    margin-left: 30px;
    position: absolute;
    animation: pointer 1.5s infinite;
}

@keyframes pointer{
    0%{
        transform: scale(1);
        transform: rotate(-15deg);
    }
    50%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(1);
        transform: rotate(-15deg);
    }
}

.grid-container{
    margin-top: 90px;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 320px);
    grid-template-rows: repeat(3, 690px);
    grid-gap: 2rem;
    grid-column-gap: 3rem;
}

.grid-container .item{
    transition: .5s;
}

.grid-container .item:hover{
    transition: .5s;
    box-shadow: 0px 0px 16px 6px rgba(158, 158, 158, 0.6);
    cursor: pointer;
}

.inner-container{
    padding: 40px;
    padding-top: 10px;
}

.inner-container h3{
    color: rgba(51, 51, 51, 0.9);
}

.inner-container p:before{
    content: "";
    border-top: 3px solid rgba(63, 83, 181, 0.8);
    width: 70px;
    position: absolute;
    margin-left: 1px;
    display: block;
    margin-top: -25px;
}

.inner-container p{
    padding-top: 30px;
    font-size: 17px;
    line-height: 24px;
    font-weight: normal;
    color: rgba(51, 51, 51, 0.8);
}

.item{
    font-size: 18px;
    line-height: 28px;
    font-weight: bold;
}

.item img{
    width: 240px;
    margin: 0 auto;
    display: block;
    padding-top: 30px;
}

.price{
    font-size: 28px;
    color: rgba(63, 83, 181, 0.9);
    padding-top: 16px;
    display: block;
}

.company-accent{
    color: rgba(63, 83, 181, 0.9);
    font-weight: bold;
}

.description{
    padding-top: 30px;
    padding-bottom: 60px;
    margin: 0 auto;
    color: rgba(51, 51, 51, 0.75);
    font-size: 19px;
    max-width: 805px;
    font-weight: normal;
    line-height: 28px;
}

.last{
    padding-top: 0px;
    padding-bottom: 90px;
}

.slider-view{
    position: absolute;
    z-index: 2;
    display: block;
    width: 370px;
    background-color: rgba(51, 51, 51, 0.85);
    height: 542px;
}

.slider-view p{
    font-size: 32px;
    color: white;
    display: block;
    margin: 182px auto;
    margin-left: 30px;
    max-width: 320px;
    font-weight: bold;
    line-height: 58px;
}

.slider-view p span{
    padding-right: 15px;
    color: #7986CB;
}

form{
    width: 400px;
    display: block;
    margin: 0 auto;
}

input{
    font-family: 'Roboto', sans-serif;
    width: 402px;
    font-size: 18px;
    border: none;
    padding: 10px;
    color: rgba(51, 51, 51, 0.8);
}

::-webkit-input-placeholder{
    color: rgba(51, 51, 51, 0.4);
}

textarea{
    margin-top: 10px;
    width: 402px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    border: none;
    margin-bottom: 20px;
    padding: 10px;
    resize: none;
    color: rgba(51, 51, 51, 0.8);
}

button{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: bold;
    background-color: rgba(92, 107, 192, 0.8);
    color: #f0f0f0;
    height: 40px;
    border: 0;
    margin: 0;
    width: 422px;
    cursor: pointer;
    transition: .5s;
}

button:hover{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    transition: .5s;
    background-color: rgba(57, 74, 171, 0.8);
}

input:focus{
    outline: none;
}

textarea:focus{
    outline: none;
}

button:focus{
    outline: none;
}

iframe{
    position: absolute;
    margin-top: 105px;
    display: block;
    right: 0;
    margin-right: 12%;
}

footer h2{
    margin-top: 184px;
    margin-left: 12%;
    position: absolute;
    color: #f0f0f0;
    text-align: left;
    display: block;
    max-width: 602px;
}